[submodule "third-party/cpp-httplib"]
	path = third-party/cpp-httplib
	url = https://github.com/atina-project/cpp-httplib.git
[submodule "third-party/jsoncpp"]
	path = third-party/jsoncpp
	url = https://github.com/atina-project/jsoncpp.git
[submodule "third-party/wcdb"]
	path = third-party/wcdb
	url = https://github.com/atina-project/wcdb.git
[submodule "third-party/Hypodermic"]
	path = third-party/Hypodermic
	url = https://github.com/atina-project/Hypodermic.git
